body {
  font-family: $font-family;
  font-size: $Font-size-desktop;
  background-color: $Very-Light-Gray;

  display: grid;
  place-content: center;

}

.main-wrapper {
  margin: 3rem 1rem;
  max-width: 375px;
}

@include breakpoint(1392px) {
  .main-wrapper {
    max-width: 1400px;
  }
}
